* {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaecf8;
}

#zone {
    display: flex;
    margin-top: 100px;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blue;
    border-radius: 20px;
}